<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Add A New Trail</h1>
        <a href="/">Go home</a>
    </div>
    <div class="form">
        <form action="/add" method="post">
            <h3>Trail Name: <input type="text" name="Name"></h3>
            <h3>Description: <textarea name="Description" cols="30" rows="10"></textarea></h3>
            <h3>Trail Length: <input name="Length"></h3>
            <h3>Elevation Change: <input name="Elevation"></h3>
            <h3>Longitude: <input name="Longitude"></h3>
            <h3>Latitude: <input name="Latitude"></h3>
            <button type="Submit">Add Trail!</button>
        </form>
    </div>
</body>
</html>